@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="well">
            <h4>Upload File Splitter</h4>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Browse File</label>

                    <div class="col-md-4">
                        <input type="file" accept=".txt" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="number" id="size" accept=".txt" class="form-control" placeholder="Number of Split" />
                    </div>
                    <div class="col-md-offset-8">
                        <button class="btn btn-primary" id="Upload"> Start Split (No Header)</button>
                        <button class="btn btn-primary" id="Upload2">Start Split (With Header)</button>
                    </div>
                    @*<br/>
                    <div class="col-md-offset-8">
                        <button class="btn btn-primary" id="Upload2">Start Split With Header</button>
                    </div>*@                    
                </div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


    $('#Upload').on('click', function () {
        //$("input[type='file']").prop("disabled", true);

 

        var data = new FormData();
        var size = $('#size').val();
        if (size.trim()) {
            Swal.fire({
                icon: 'loading',
                title: 'Loading',
                text: 'Loading Download',
                showConfirmButton: false,
                timer: 5000,
            });
        }

        $.each($("input[type='file']")[0].files, function (i, file) {
            data.append('files', file);
        });
            data.append('sizes', size);

        $.ajax({
            url: '@Url.Action("UploadFiles", "Home")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (check) {

                if (check) {
                    //Swal.fire({
                    //    icon: 'loading',
                    //    title: 'Loading',
                    //    text: 'Download Success'
                    //})
                    window.location.href = '@Url.Action("DownloadFile", "Home")';

                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Oversized Split!',
                       
                    })
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please fill the form!',

                })
            }
        })
    })

    $('#Upload2').on('click', function () {
        //$("input[type='file']").prop("disabled", true);


        var data = new FormData();
        var size = $('#size').val();
        if (size.trim()) {
            Swal.fire({
                icon: 'loading',
                title: 'Loading',
                text: 'Loading Download',
                showConfirmButton: false,
                timer: 5000,
            });
        }

        $.each($("input[type='file']")[0].files, function (i, file) {
            data.append('files', file);
        });
        data.append('sizes', size);

        $.ajax({
            url: '@Url.Action("UploadFiles2", "Home")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (check) {
                if (check) {
                    window.location.href = '@Url.Action("DownloadFile2", "Home")';

                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Oversized Split!',

                    })
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please fill the form!',

                })
            }
        })
    })

    

</script>

@*<h2>Downloads</h2>


    @model List<string>
    <h2>Downloads</h2>
    <table>
        <tr>
            <th>File Name</th>
            <th>Link</th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@Model[i].ToString() </td>
                <td>'@Url.Action("UploadFiles", "FilterSplitter")', new { TxtName = @Model[i].ToString() }) </td>
            </tr>
        }
    </table>*@  